﻿	@media  (max-width: 1300px)  {
		.inGameHud {zoom: 70%}
	}
	@media (min-width: 1301px) and (max-width: 1400px) {
		.inGameHud {zoom: 80%}
	}
	@media (min-width: 1401px) and (max-width: 1650px) {
		.inGameHud {zoom: 80%}
	}
	@media (min-width: 1651px) and (max-width: 2560px) {
		.inGameHud {zoom: 100%}
	}


	body {
		user-select: none;
		-moz-user-select: none;
		-webkit-user-select: none;
		overflow: hidden;
		margin: 0;
	}

	p {
		margin: 0;
	}

	#effect {
		position: absolute;
		left: 0;
		top: 0;
	}

	#safezone {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}

	.fade-enter-active, .fade-leave-active {
	  transition: opacity .58s
	}
	.fade-enter, .fade-leave-to {
	  opacity: 0
	}

	.inGameHud {
		position: absolute;
		margin: 0 auto;
		line-height: normal;
		color:#fff;
		width: 100%;
		height: 100%;
        -webkit-animation-name: opacity, slide;
        animation-name: opacity, slide;
        -webkit-animation-duration: .5s, .5s;
        animation-duration: .5s, .5s;
        -webkit-animation-timing-function: ease, ease;
        animation-timing-function: ease, ease;
	}
.inGameHud .header_hud {
    position: absolute;
    top: 10px;
    width: 90px;
    height: 80px;
    display: flex;
    font-size: 16px;
    right: 30px;
}
.inGameHud .header_hud .logo {
    opacity: 0.8;
    position: absolute;
    right: 30px;
    display: inline-block;
    width: 100vh;
    text-align: right;
    top: 25px;
}
.inGameHud .header_hud .online {
    position: relative;
    right: -35%;
    top: 0;
}
.inGameHud .header_hud .id {
    position: relative;
    right: 54%;
    opacity: 0.5;
    top: 0;
}
	.inGameHud .header_hud .user{
		width: 51%;
		position: relative;
	}
	.inGameHud .header_hud .onlinecount{
		position: absolute;
		top: -1%;
		left: 62%;
		letter-spacing: 0.05em;
		color: #ffffffb8;
	}
	.inGameHud .money{
		position: absolute;
		top: 101px;
		right: 59px;
		height: 80px;
		font-size: 25px;
		color: #ffffffd4;
	}
	.inGameHud .money .ico{
		width: 19px;
		position: relative;
		margin: -1px 0 0 7px;
	}
	
	
	.inGameHud .speedometer_hud{
		position: absolute;
		bottom: 1%;
		right: 1%;
	}
	.inGameHud .speedometer_hud .speedcount{
		position: relative;
		color: #ffffff52;
		display: flex;
		justify-content: center;
		width: 150%;
		margin-left: -27px;
		margin-bottom: 2%;
	}
	.inGameHud .speedometer_hud .speedcount .count{
		font-size: 3em;
		font-style: italic;
		font-weight: 300;
		color: white;
		transition: all .73s;
	}
	.inGameHud .speedometer_hud .speedcount p{
		position: absolute;
		margin-top: -13px;
		margin-left: 7px;
		letter-spacing: 0.1em;
		font-style: italic;
		transition: all .33s;
	}
	.inGameHud .speedometer_hud .fuel{
		margin-left: 57%;
		margin-bottom: 11%;
	}
	.inGameHud .speedometer_hud .fuel a{
		position: absolute;
		margin-top: 4px;
	}
	.inGameHud .speedometer_hud .fuel .fuel_ico{
		width: 28px;
		opacity: 0.4;
		margin-left: 50px;
	}
	.inGameHud .speedometer_hud .help_car{
		display: flex;
		right: 3%;
	}
	.inGameHud .speedometer_hud .help_car .helps{
		display: flex;
		margin-left: 13px;
	}
	.inGameHud .speedometer_hud .help_car .icon_help{
		padding-right: 4px;
		width: 27px;
		height: 25px;
		transition: all .33s;
	}
	.inGameHud .speedometer_hud .help_car p{
		background: #6f6f6f78;
		line-height: 1.7em;
		width: 28px;
		margin-left: 11px;
		font-weight: 100;
		font-size: 16px;
		height: 25px;
		text-align: center;
		border-radius: 50%;
	}
	.inGameHud .steet_block{
		position: absolute;
		bottom: 1%;
		left: 16%;
		width: 150px;	
	}
	.inGameHud .steet_block .crossingroad{
		color: #F44336;
		letter-spacing: 0.03em;
		font-size: 19px;
		width: 500px;
		font-weight: 100;
		margin-bottom: 13px;
	}
	.inGameHud .steet_block .street{
		margin-left: 12px;
		width: 500px;
		font-weight: 100;
		margin-bottom: 33%;
	}
	.inGameHud .steet_block .street .marker{
		width: 13px;
		position: absolute;
		margin-left: -13px;
		margin-top: 3px;
	}
	.inGameHud .steet_block .info_table{
		display:flex;
	}
	.inGameHud .steet_block .info_table .icon{
		margin-bottom: -16px;
		width: 20px;
		margin-left: 3px;
		transition: all .33s;
		opacity: 0.6;
	}
	.inGameHud .steet_block .info_table p{
		background: #6f6f6f75;
		width: 30px;
		padding: 1%;
		line-height: 1.5em;
		text-align: center;
		margin-left: 13px;
	}
	.inGameHud .steet_block .info_table .activeP{
		background: #ffff;
		color:black;		
		width: 30px;
		padding: 1%;
		line-height: 1.5em;
		text-align: center;
		margin-left: 13px;
	}
	.inGameHud .steet_block .info_table .info{
		margin-left: 2%;
	}
	.inGameHud .stars{
	    position: absolute;
		top: 145px;
		right: 59px;
		display:flex
	}
	.inGameHud .stars .ico{
		width: 25px;
		height: 25px;
		opacity: 0.4;
		margin-left: 8px;
	}
	.inGameHud .info_table .eatings {
		display: flex;
		position: absolute;
		margin-top: -34px;
		margin-left: 7px;
	}
	.inGameHud .info_table .eatings .eat {
		margin-right: 16px;
	}
	.inGameHud .info_table .eatings .icohud {
		width: 1.3vh;
	}
	.inGameHud .info_table .eatings .waterhud {
		width: 1.89vh;
	}
	.inGameHud .info_table .eatings a {
		margin-left: 4px;
		position: relative;
		top: -0.6vh;
		font-size: 1.8vh;
	}