﻿<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/inv.css">
    <link rel="stylesheet" type="text/css" href="css/inventory.css">
    <link rel="stylesheet" type="text/css" href="css/circle.css">
	<link href="../inventory/fonts/font/stylesheet.css" rel="stylesheet" type="text/css" />
</head>


<body style="display: none">

<div id="inventory" class="board" v-if="active" @click.right.prevent="context" @click="hide">	
<audio id="loading" autoplay="autoplay" volume="-10000"><source src="./UI/inv/inv_sound.mp3" type="audio/mp3"></audio>


		<div id="inv" class="inv">
		<div class="bgshow"></div>
	 <transition name="fade">
		<div class="menuInv" v-if="page == 1"> 
			<div class="btnlink">
				<div class="btnActive">Инвентарь</div>
				<div class="btn" @click="pages(2)">Статистика</div>
			</div>
			<h1>{{stats[10]}} {{stats[11]}}</h1>
			<div class="left-panel">
				<img src="./UI/inv/selector.png" class="Selector">
					<img src="./UI/inv/peds.png" class="Peds">
					<div class="clothes"><img src="./UI/inv/clothes/-1.png"></div>
					<div class="clothes1"><img src="./UI/inv/clothes/-3.png"></div>
					<div class="clothes2"><img src="./UI/inv/clothes/-4.png"></div>
					<div class="clothes3"><img src="./UI/inv/clothes/-5.png"></div>
					<div class="clothes4"><img src="./UI/inv/clothes/-6.png"></div>
					<div class="clothes5"><img src="./UI/inv/clothes/-7.png"></div>
					<div class="clothes6"><img src="./UI/inv/clothes/-8.png"></div>
					<div class="clothes7"><img src="./UI/inv/clothes/-9.png"></div>
					<div class="clothes8"><img src="./UI/inv/clothes/-11.png"></div>
					<div class="clothes9"><img src="./UI/inv/clothes/-12.png"></div>
					<div class="clothes10"><img src="./UI/inv/clothes/-13.png"></div>
				<div class="clothes11"><img src="./UI/inv/clothes/-14.png"></div>
			</div>
			
			<div class="right-panel">
			<h6>Инвентарь</h6>
			<div class="item-List">
			 <item
                    v-for="(item, index) in items"
						:key="key"
						:id="item[0]"
						:index="index"
						:count="item[1]"
						:isactive="item[2]"
						:subdata="item[3]"
                    type="inv"/>
				</div>
			
				<div class="item-out" v-if="outside">
				<h6>{{outHead}}</h6>
				<item
					v-for="(item, index) in outitems"
						:key="key"
						:id="item[0]"
						:index="index"
						:count="item[1]"
						:isactive="item[2]"
						:subdata="item[3]"
                    type="out"/>
				</div>
			</div>
		</div>	
	</transition>
	
	 <transition name="fade">
		<div class="menuStats" v-if="page == 2"> 
			<div class="btnlink">
				<div class="btn" @click="pages(1)">Инвентарь</div>
				<div class="btnActive">Статистика</div>
			</div>	
		<div class="menuStatS">
		
				<div class="left-block">	
				<h1>Основная статистика</h1>
				<li><span>{{text[0]}}</span> <span>{{stats[0]}}<a>[{{stats[1]}} XP]</span></li>
				<li><span>{{text[1]}}</span> <span>{{stats[4]}}</span></li>
				<li><span>{{text[2]}}</span> <span>{{stats[6]}}</span></li>
				<br><br>
				<li><span>{{text[3]}}</span> <span>{{stats[2]}}</span></li>
				<li><span>{{text[4]}}</span> <span>{{stats[13] | formatThousands}}</span></li>
				<li><span>{{text[5]}}</span> <span>{{stats[12] | formatThousands}}</span></li>
				<br><br>
				<li><span>{{text[6]}}</span> <span>{{stats[8]}}</span></li>
				<li><span>{{text[7]}}</span> <span>{{stats[9]}}</span></li>
				<br><br>
				<li><span>{{text[8]}}</span> <span>{{stats[7]}}</span></li>
				<br><br>
				<li><span>{{text[9]}}</span> <span>{{stats[3]}}</span></li>
				
				<h2>Лицензии</h2>
				
				<div class="blockLic">
					<div class="row__slot">
                         <div class="lic_circle">
							 <div class="circle__inner">
								
                                    <img v-if="stats[5].includes('A')" src="../UI/inv/lic/motorcycle-of-big-size-black-silhouette.svg" class="motoIco">
                                    <img v-else src="../UI/inv/lic/motorcycle-of-big-size-black-silhouette.svg" class="motoIcoActive" alt="">
									
									 <img v-if="stats[5].includes('B')" src="../UI/inv/lic/sedan-car-front.svg" class="carIco" alt="">
                                    <img v-else src="../UI/inv/lic/sedan-car-front.svg" class="carIcoActive" alt="">
									
									 <img v-if="stats[5].includes('C')" src="../UI/inv/lic/frontal-truck.svg" class="truckIco"  alt="">
                                    <img v-else src="../UI/inv/lic/frontal-truck.svg" class="truckIcoActive" alt="">
									
									<img v-if="stats[5].includes('LS')" src="../UI/inv/lic/plane.svg" class="planeIco" alt="">
                                    <img v-else src="../UI/inv/lic/plane.svg" class="planeIcoActive" alt="">
									</div>
								</div>
                            </div>
						</div>
					</div>	
					
					<div class="right-block">
					<h1>Имущество (скоро)</h1>
					<li><span>Дом</span> <span>#79</span></li>
					<li><span>Класс дома</span> <span>Лухари</span></li>
					<br><br>
					<li><span>Бизнес</span> <span>#12</span></li>
					<li><span>Название бизнеса</span> <span>Автосалон Комфорт</span></li>
					<br><br>
					<li><span>Транспорта</span> <span>7 т.с</span></li>
					</div>
					
				</div>
			</div>	
	</transition>
	
		</div>	
	</div>
	
	
	<nav class="context_menu" v-if="active" :style="style">
			<ul>
				<li v-if="type" @click="btn(1)">{{men[0]}}</li>
				<li v-if="type" @click="btn(2)">{{men[1]}}</li>
				<li v-if="!type" @click="btn(3)">{{men[2]}}</li>
				<li v-if="type" @click="btn(4)">{{men[3]}}</li>
			</ul>
		</nav>
		
			 <div class="circle" @mouseOut="out" v-show="active" style="opacity:0; height:810px; width:810px">
        <div class="bg"></div>
        <div id="8" class="center" @mouseOver="over" @click="btn">
            <div id="8" class="text">{{description}}</div>
        </div>
        <ul>
            <li id="0" @mouseOver="over">
                <div id="0" class="contents" :class="icons[0]" @click="btn"></div>
            </li>
            <li id="1" @mouseOver="over">
                <div id="1" class="contents" :class="icons[1]" @click="btn"></div>
            </li>
            <li id="2" @mouseOver="over">
                <div id="2" class="contents" :class="icons[2]" @click="btn"></div>
            </li>
            <li id="3" @mouseOver="over">
                <div id="3" class="contents" :class="icons[3]" @click="btn"></div>
            </li>
            <li id="4" @mouseOver="over">
                <div id="4" class="contents" :class="icons[4]" @click="btn"></div>
            </li>
            <li id="5" @mouseOver="over">
                <div id="5" class="contents" :class="icons[5]" @click="btn"></div>
            </li>
            <li id="6" @mouseOver="over">
                <div id="6" class="contents" :class="icons[6]" @click="btn"></div>
            </li>
            <li id="7" @mouseOver="over">
                <div id="7" class="contents" :class="icons[7]" @click="btn"></div>
            </li>
        </ul>
    </div>
	<script src='js/vue.js'></script>
	<script src="js/move.min.js"></script>
	<script src='js/inventory.js'></script>
	<script src='js/circle.js'></script>

	<script>Vue.filter('formatThousands', (x) => {return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ");})</script> 
	<script> window.onload = function() {		document.getElementsByTagName('body')[0].style.display = "block";} </script>

</body>
</html>