<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="devfive/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="fonts/phone.css">
    <link rel="stylesheet" href="css/grids-min.css">
    <link rel="stylesheet" href="dia.css">
    <script src="devfive/conf.js"></script>
    <title>Bottstrap menu</title>
    
   <script type="text/javascript">
       //запрещает выделение мышкой и комбинации клавиш Ctrl + A и Ctrl + U и Ctrl + S
function preventSelection(element){
  var preventSelection = false;
  function addHandler(element, event, handler){
  if (element.attachEvent) element.attachEvent('on' + event, handler);
  else if (element.addEventListener) element.addEventListener(event, handler, false);  }
  function removeSelection(){
  if (window.getSelection) { window.getSelection().removeAllRanges(); }
  else if (document.selection && document.selection.clear)
  document.selection.clear();
  }

  //запрещаем выделять текст мышкой
  addHandler(element, 'mousemove', function(){ if(preventSelection) removeSelection(); });
  addHandler(element, 'mousedown', function(event){ var event = event || window.event; var sender = event.target || event.srcElement; preventSelection = !sender.tagName.match(/INPUT|TEXTAREA/i) ;});

  //запрещаем нажатие клавищ Ctrl + A и Ctrl + U и Ctrl + S
  function killCtrlA(event){
  var event = event || window.event;
  var sender = event.target || event.srcElement;
  if (sender.tagName.match(/INPUT|TEXTAREA/i)) return;
  var key = event.keyCode || event.which;
  if ((event.ctrlKey && key == 'U'.charCodeAt(0)) || (event.ctrlKey && key == 'A'.charCodeAt(0)) || (event.ctrlKey && key == 'S'.charCodeAt(0)))  // 'A'.charCodeAt(0) можно заменить на 65
  { removeSelection();
  if (event.preventDefault) event.preventDefault();
  else event.returnValue = false;}}
  addHandler(element, 'keydown', killCtrlA);
  addHandler(element, 'keyup', killCtrlA);
}
preventSelection(document);
   </script>
    <style type="text/css">
.card-horizontal px-3 {
  display: flex;
  flex: 1 1 auto;
}
.bg-0 {
    background: rgba(0,0,0,0)!important;
    border:0px solid #000!important;
}
.card-body p {
    line-height: 18px;
    padding: 0;
    margin: 0;
}
.server-opacity-black {
    background: rgba(0,0,0,0.8)!important;
    color:#fff!important;
}
.server-opacity-black-04 {
    background: rgba(0,0,0,0.4)!important;
    color:#fff!important;
}
.gender {
    margin-right: 15px!important;
}
.gender.fas.fa-mars {
    color:#00CDFF!important;
}
.gender.fas.fa-venus {
    color:#FFA3FF!important;
}
    </style>
  </head>
  <body style="background:rgba(0,0,0,0);height: 80%;overflow:hidden!important">
    <div class="container-fluid py-0 px-0 my-0 mx-0 worldmenu" v-if="active" style="position: relative;height: 80%!important">
        <div class="row justify-content-center py-5 px-0 my-0 mx-0">
            <div class="col-lg-7 py-0 px-0 my-0 mx-0">
                <div class="card server-opacity-black py-0" style="max-height:700px!important;border:0px solid #000!important;">
                    <!--div class="col-12 my-2 mt-0 py-2 text-white gilroy upper font20" style="position: absolute;left:10px;top:20px;z-index: 999!important;font-size: 15px!important" v-if="menuid == 1">
                            <a class="align server-color text-white blacker text-white py-2 px-5 blacker" style="border-radius: 15px!important;"><i class="fas fa-user"></i> Информация о персонаже</a>
                        </div>

                              <div class="col-12 my-2 mt-0 py-2 text-white gilroy upper font20" style="position: absolute;left:10px;top:20px;z-index: 999!important;font-size: 15px!important" v-if="menuid == 2">
                            <a class="align server-color text-white blacker text-white py-2 px-5 blacker" style="border-radius: 15px!important;">
                                <i class="fas fa-shopping-cart"></i> Магазин</a>
                                </div-->
                    <div class="row px-0 py-0 mx-0 my-0 justify-content-center">
                        <div class="col-2 bg-dark mx-0 my-0 leftmenu py-5" style="height: 80vh;position: relative">
                                <div class="col-12 mx-0 my-0 py-2 my-2 text-center" style="position: absolute;bottom:0;left:0;" @click="closeworldmenuMenu()">
                                    <button class="btn gilroy upper text-white bg-danger">Закрыть</button>
                                </div>
                            <div class="row pt-5">
                               <div class="col-12 mt-4"></div>
                               <div class="col-12  mt-5"></div>
                                                                <iframe id="framedonate" src="" frameborder="0" style="display:none;width: 60%;height:80%;
        background-color: #fff;position: fixed;top:10%;left:15%;z-index: 90;border-radius: 30px;border:2px solid #ccc"></iframe>
                                <div class="col-12 mx-0 my-0 py-2 my-2 text-center server-color" v-if="menuid == 1" @click="menuid = 1">
                                    <button class="btn gilroy upper text-white"><i class="far fa-user"></i> Персонаж</button>
                                </div>
                                <div class="col-12 mx-0 my-0 py-2 my-2 text-center" v-if="menuid != 1" @click="menuid = 1;submenuid=1">
                                    <button class="btn gilroy upper text-white"><i class="far fa-user"></i> Персонаж</button>
                                </div>

                                <div class="col-12 mx-0 my-0 py-2 my-2 text-center server-color" v-if="menuid == 2"  @click="menuid = 2">
                                    <button class="btn gilroy upper text-white"><i class="far fa-star"></i> Магазин</button>
                                </div>
                                <div class="col-12 mx-0 my-0 py-2 my-2 text-center" v-if="menuid != 2"  @click="menuid = 2;submenuid=1">
                                    <button class="btn gilroy upper text-white"><i class="far fa-star"></i> Магазин</button>
                                </div>




                                <div class="col-12 mx-0 my-0 py-2 my-2 text-center server-color" v-if="menuid == 3"  @click="menuid = 3">
                                    <button class="btn gilroy upper text-white"><i class="far fa-question-circle"></i> Помощь</button>
                                </div>
                                <div class="col-12 mx-0 my-0 py-2 my-2 text-center" v-if="menuid != 3"  @click="menuid = 3;submenuid=1">
                                    <button class="btn gilroy upper text-white"><i class="far fa-question-circle"></i> Помощь</button>
                                </div>



                                 
                        <div class="col-lg-12 my-2 mt-5 py-2 gilroy text-white text-right" v-if="menuid == 2">
                            <p class="w-100 font40 text-center" style="line-height: 10px;">
                                 <i class="fas fa-coins text-warning"></i> <font class="gilroy text-white mr-1">{{stats[14]}}</font> <br>
                                <font class="gilroy font10 ml-5 pl-1 upper">Coins</font>
                            </p>
                            <button class="btn btn-dark gilroy btn-block" @click="payactive = true" v-if="payactive == false">Пополнить</button>
                                    <div class="input-group my-0 mx-0 py-0 px-0 mt-2" v-if="payactive == true">
                                        <textarea id="accountpers" style="width: 0;height: 0;opacity: 0;">{{stats[18]}}</textarea>
                                        <input type="text" class="form-control font20 py-3 gilroy" id="donatesum"  placeholder="Введите сумму">

                                            <button class="btn btn-success btn-block py-2 gilroy" onclick="loading(2000);donated()">Пополнить</button>
                                    </div>
                                </div>
                                <div class="col-12 gilroy text-center font20" style="" v-if="payactive == true">
                                    Чтобы закрыть меню <br><b class="upper">нажмите F10</b>
                                </div>

                            </div>
                        </div>

                        
                        <div class="col-10 px-0 pt-0 py-0 my-0 mt-0">

                                    <div class="row shopp bg-dark px-0 mx-0" v-if="menuid == 2">
                                        <button class="col-3 btn btn-block btn-outline-primary border-0 text-white gilroy mx-0 rounded-0"
:class="submenuid == 1 ? 'server-color' : 'btn-outline-primary'" @click="submenuid = 1"> Обмен валюты</button>
                                        <button class="col-3 btn  border-0 text-white btn-block gilroy mx-0 rounded-0" 
    :class="submenuid == 2 ? 'server-color' : 'btn-outline-primary'" @click="submenuid = 2"> Смена внешности</button>
                                        <button class="col-3 btn  border-0 text-white btn-block gilroy mx-0 rounded-0"
                        :class="submenuid == 4 ? 'server-color' : 'btn-outline-primary'" @click="submenuid = 4"> Снятие варна</button>
                                        <button class="col-3 btn  btn-outline-primary border-0 text-success btn-lg btn-block gilroy mx-0 rounded-0" 
                        :class="submenuid == 5 ? 'server-color' : 'btn-outline-primary'" @click="submenuid = 5"> <b>VIP</b></button>
                                    </div>
                                    <div class="row bg-dark px-0 mx-0" v-if="menuid == 3">
                                        
                                    <button class="col-2 btn border-0 text-white btn-block gilroy mx-0 rounded-0 btn btn-block" :class="submenuid == 1 ? 'server-color' : 'btn-outline-primary'" @click="submenuid = 1"><i class="far fa-keyboard"></i> Команды</button>
                                
                                    <button class="col-2 btn border-0 text-white btn-block gilroy mx-0 rounded-0 btn btn-block" :class="submenuid == 2 ? 'server-color' : 'btn-outline-primary'" @click="submenuid = 2"><i class="far fa-life-ring"></i> Репорт</button>
                              
                                    </div>

                        <div class="col-10 my-0 mt-1 py-0 text-white gilroy upper" v-if="menuid == 2">

                            <script type="text/javascript">
                                
        function donated() {
            var name = $("#accountpers").text();
            var price = $("#donatesum").val();
            var link = 'http://magnat.live/ingame.php?name=' + name + '&price=' + price;
            $("#framedonate").show();
            $("#framedonate").attr("src",link);
        }
                            </script>
                        </div>             
        <iframe id="framedonate" src="" frameborder="0" style="display:none;width: 70%;height:95%;
        background-color: #fff;position: absolute;top:3%;left:15%;z-index: 90;border-radius: 30px;"></iframe>

                            <div class="row justify-content-center" v-if="menuid == 1">
                                <div class="col-lg-11 px-0 mx-0 py-5 my-0">
                                    <span class="gilroy font50 upper" v-if="stats[26] != 'Игрок' && stats[27] > 0" 
                                    style="position: absolute;top:40px;left:-10px;transform:rotate(-3deg);color: rgba(253,191,35,0.66);letter-spacing: -0.5px">
                                        {{stats[26]}}
                                    </span>
                                    <!--span class="gilroy font20" v-if="stats[26] != 'Игрок' && stats[27] > 0"
                                    style="position: absolute;top:0px;left:-150px;color: rgba(253,253,253,0.55);letter-spacing: -0.5px">
                                        До окончания: {{stats[27]}} дней
                                    </span-->
                                    <div class="row py-4">
                                        <div class="col-lg-5">
                                                <div class="row justify-content-center">
     
                                                    <div class="col-12 py-5 px-2">
                                                        
                                                    <p class="gilroy  text-white py-3">
                                                        <span class="float-left text-white mr-4">E-Mail:</span> {{stats[24]}}
                                                    </p>
                                                    <p class="gilroy  text-secondary py-3">
                                                        <span class="float-left text-white mr-4">Пароль:</span><b style="letter-spacing: 1.5px">***************</b> 
                                                        <i class="fas fa-edit ml-1 text-warning onhover" @click="submenuid = 2"></i>
                                                    </p>
                                                    </div>
                                                    <div class="col-12 text-center shadow" style="margin-top:-200px" v-if="submenuid == 2">
                                                        <div class="card  server-opacity-black px-3 py-3 rounded text-center">
                                                            <div class="input-group px-3 py-2">
                                                                <input type="text" class="form-control gilroy" v-model="oldPass" placeholder="Старый пароль">
                                                            </div>
                                                            <div class="input-group px-3 py-2">
                                                                <input type="text" class="form-control gilroy" v-model="newPass" placeholder="Новый пароль">
                                                            </div>
                                                            <div class="input-group py-2 text-center justify-content-center">
                                                                <button class="btn server-opacity text-white onhover " 
                                                                                        @click="btnTwo('changePass',oldPass,newPass)">
                                                                    Сменить пароль
                                                                </button>
                                                                <div class="input-group-append">
                                                                    <button class="btn bg-dark text-white" @click="submenuid = 0"><i class="fas fa-backspace"></i></button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>                   
                                            </div>
                                                    <div class="col-7 text-center py-4 px-1 pr-3">
                                                    <p class="gilroy text-right font50" style="letter-spacing: 2.5px;line-height: 40px">
                                                        <i class="fas fa-money-bill-wave fa-sm float-left font40"></i> 
                                                        <b>{{stats[6]}}</b> <small class="text-success gilroy font50">$</small>
                                                    </p>
                                                    <p class="gilroy text-right font40" style="letter-spacing: 1.2px;opacity: 0.7;line-height: 40px">
                                                        <i class="fas fa-university text-secondary fa-sm float-left font30"></i> 
                                                       {{stats[7]}} <small class="text-success gilroy font30">$</small>
                                                    </p>
                                                    <p class="gilroy  font20 text-right"><span class="float-left">Имя:</span> 
                                                        <i :class="(stats[15] == 'Мужской') ? 'gender fas fa-mars' : 'gender fas fa-venus'"></i>{{stats[0]}}</p>
                                                    <p class="gilroy  font20 text-right"><span class="float-left">Телефон:</span>{{stats[23]}}</p>
                                                    <p class="gilroy  font20 text-right"><span class="float-left">Работа:</span>{{stats[3]}}</p>
                                                    <p class="gilroy  font20 text-right"><span class="float-left">Организация:</span> {{stats[4]}} <small>[{{stats[5]}}]</small></p>


                                                    <p>
                                                        
                                                        <div @click="btn('passport','passport');hide();closeworldmenuMenu();"
                                                        class="btn text-white server-opacity onhover btn-block font20">
                                                          <i class="fas fa-passport float-left"></i> Посмотреть паспорт <small style="opacity: 0.6">(№{{stats[8]}})</small>
                                                        </div>
                                                    </p>
                                                    <p>
                                                        
                                                        <div @click="btn('licenses','licenses');hide();closeworldmenuMenu();" 
                                                         class="btn text-white server-opacity onhover btn-block font20">
                                                            <i class="far fa-id-badge  float-left"></i> Просмотреть лицензии 
                                                        </div>
                                                    </p>    
                                                    <p class="gilroy  font20 text-right"><span class="float-left">Уровень:</span>
                                                        <div style="width: 75%;position: relative;height:35px;border-radius: 5px!important;display: inline-block;" class="server-opacity-black-04 float-right">
                                                            <div style="border-radius: 5px 0 0 5px!important;position: absolute;height: 35px;"
                        :style="{width: parseInt(stats[20])*parseInt(100 /(3+(parseInt(stats[2])*3)))+'%'}" class="server-opacity" 

                                                            ></div>

                                                            <span style="position: absolute;left:5px;top:12px;line-height: 10px; opacity: 0.4" 
                                                            class="font20 gilroy upper">
                                                                {{stats[2]}}
                                                            </span>
                                                            <span style="position: absolute;right:5px;top:12px;line-height: 10px; opacity: 1" 
                                                            class="font30 gilroy upper">
                                                                
                                                            <b>{{parseInt(stats[2]) + 1}}</b>
                                                            </span>
                                                            <span style="position: absolute;bottom:12px;left:40%;line-height: 10px;letter-spacing: 3px;opacity: 0.3" 
                                                            class="gilroy upper font20">
                                                                <small><b>{{stats[20]}}/{{3+(parseInt(stats[2])*3)}}</b></small>
                                                            </span>
                                                        </div>
                                                    </p>
                                                    </div> 
                                <div class="col-lg-6 pt-5 pl-4">
                                </div>                              
                            </div>
                        </div>

                       

                            </div>


                            <div class="row justify-content-center h-100 py-auto" v-if="menuid == 2">
                                <div :class="submenuid == 6 ? 'col-lg-12 my-auto align-middle' : 'col-lg-9 my-auto align-middle'" style="height: auto!important;max-height: 80vh!important;overflow-x: hidden;overflow-y: auto;">




                                    <h2 class="rbold text-warning" v-if="submenuid == 1">ОБМЕН ВАЛЮТЫ</h2>
                                    <div class="form-group" v-if="submenuid == 1">
                                        <p class="gilroy upper">Донат валюту можно обменять на игровую ($) по курсу </p>
                                        <p class="gilroy text-right" >
                                            <font class="font30 rbold mr-4 text-warning" style="filter: hue-rotate(-60deg);">
                                                <i class="far fa-gem fa-sm mr-1"></i>1 <small>iCoin</small>
                                            </font> 
                                            = 
                                            <font class="font30 rbold ml-4 text-warning" style="filter: hue-rotate(60deg);">
                                                $ 100
                                            </font>
                                        </p>
                                        <br>
                                        <br>
                                        <label for="">Введите сумму</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend"><label for="inputGroupSelect01" class="input-group-text"><i class="far fa-gem text-danger"></i></label></div>
                                            <input @input="onInputTrans" v-model="totrans"  placeholder="Сумма обмена" class="form-control form-control-lg gilroy">
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-success btn-lg gilroy upper" 
                                                @click="btn('exchange',totrans);closeworldmenuMenu();hide()">Обменять</button>
                                            </div>
                                        </div><br><br>
                                        <p class="gilroy font20" v-if="aftertrans != null">Вам будет зачислено <b class="font40 text-success rbold ">${{aftertrans}}</b></p>
                                    </div>


                                    <h2 class="rbold text-warning" v-if="submenuid == 2">СМЕНА ВНЕШНОСТИ</h2>
                                    <div class="form-group" v-if="submenuid == 2">
                                        <p class="gilroy upper">Вы будете перенаправлены в редактор персонажа</p><br><br>
                                                <button class="btn btn-primary btn-lg gilroy upper py-3" style="float:right" 
                                                @click="btn('restyle','');closeworldmenuMenu();hide()">Изменить внешность за 500<i class="far fa-gem fa-sm"></i></button>
                                    </div>

                                    <h2 class="rbold text-warning" v-if="submenuid == 3">СМЕНА ИМЕНИ</h2>
                                    <div class="form-group" v-if="submenuid == 3">
                                        <p class="gilroy upper">Стоимость услуги - 1000<i class="far fa-gem fa-sm"></i></p><br><br>
                                        <div class="form-group">
                                            <input type="text" placeholder="Новое имя" v-model="firstnameNew" class="form-control form-control-lg gilroy">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" placeholder="Новая фамилия" v-model="lastnameNew" class="form-control form-control-lg gilroy">
                                        </div>
                                                <button class="btn btn-primary btn-lg gilroy upper py-3" style="float:right" 
                                                @click="btnTwo('rename',firstnameNew,lastnameNew);closeworldmenuMenu();hide()">Изменить имя за 1000<i class="far fa-gem fa-sm"></i></button>
                                      
                                    </div>

                                    <h2 class="rbold text-warning" v-if="submenuid == 4">СНЯТИЕ ВАРНА</h2>
                                    <div class="form-group" v-if="submenuid == 4">
                                        <p class="gilroy upper">Стоимость услуги - 300<i class="far fa-gem fa-sm"></i></p><br><br>

                                           
                                                <button class="btn btn-light btn-lg gilroy upper py-3"  style="float:right" 
                                                @click="btn('unwarn','');closeworldmenuMenu();hide()">Снять <b class="text-danger">WARN</b> за 300<i class="far fa-gem fa-sm"></i></button>
                                           
                                    </div>




                                    <div  style="max-height: 440px!important;" v-if="submenuid == 5">
                                    <h2 class="rbold text-warning">VIP-СТАТУСЫ <small class="gilroy">(на 30 дней)</small></h2>
                                    <table class="table table-striped text-white gilroy">
                                        <tbody>
                                            <tr>
                                                <td class="logo">Bronze Vip</td>
                                                <td class="line-height">
                                                    Увеличение зарплаты во фракциях и по безработице $200<br>Нет ограничений на help / report<br>Возможность выйти из фракции (/leave)<br>Удвоенное XP в час.
                                                </td>
                                                <td>
                                                    <p class="gilroy font30">400<i class="far fa-gem fa-sm"></i></p>
                                                    <button class="btn btn-outline-success gilroy upper bolder"
                                                    @click="btn('buyVip',0);closeworldmenuMenu();hide()">Купить</button>
                                                </td>
                                            </tr>
                                            <tr class="server-color">
                                                <td class="logo">Silver Vip</td>
                                                <td class="line-height">
                                                   Увеличение зарплаты на начальных работах на 15%.<br>Увеличение зарплаты во фракциях и по безработице $400<br>Нет ограничений на help / report<br>Возможность выйти из фракции (/leave)<br>Удвоенное XP в час.
                                                </td>
                                                <td>
                                                    <p class="gilroy font30">700<i class="far fa-gem fa-sm"></i></p>
                                                    <button class="btn btn-outline-success gilroy upper bolder"
                                                    @click="btn('buyVip',1);closeworldmenuMenu();hide()">Купить</button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="logo">Gold Vip</td>
                                                <td class="line-height">
                                                    Увеличение зарплаты на начальных работах на 25%.<br>Увеличение зарплаты во фракциях и по безработице $550<br>Нет ограничений на help / report<br>Возможность выйти из фракции (/leave)<br>Удвоенное XP в час.
                                                </td>
                                                <td>
                                                    <p class="gilroy font30">1200<i class="far fa-gem fa-sm"></i></p>
                                                    <button class="btn btn-outline-success gilroy upper bolder"
                                                    @click="btn('buyVip',2);closeworldmenuMenu();hide()">Купить</button>
                                                </td>
                                            </tr>
                                            <tr class="server-color">
                                                <td class="logo">Platinum Vip</td>
                                                <td class="line-height">
                                                    Увеличение зарплаты на начальных работах на 35%.<br>Увеличение зарплаты во фракциях и по безработице $700<br>Нет ограничений на help / report<br>Возможность выйти из фракции (/leave)<br>Утроенное XP в час.
                                                </td>
                                                <td>
                                                    <p class="gilroy font30">1500<i class="far fa-gem fa-sm"></i></p>
                                                    <button class="btn btn-outline-success gilroy upper bolder"
                                                    @click="btn('buyVip',3);closeworldmenuMenu();hide()">Купить</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table></div>







                                </div>
                            </div>





                            <div class="row justify-content-center text-center" v-if="menuid == 3">
                                <div class="col-lg-11 px-0 py-3" style="height: 80vh!important;max-height: 520px!important;overflow-x: hidden;overflow-y: auto;">
        
                                    <h2 class="rbold text-warning upper my-5" v-if="submenuid == 1">Список команд</h2>
                                    <h2 class="rbold text-warning upper my-5" v-if="submenuid == 2">Обращение к администрации</h2>
                                    <table class="table table-sm gilroy text-white mt-4" v-if="submenuid == 1">
                                        <tbody>
                                            <tr>
                                                  <td>/report</td>
                                                  <td>Подать жалобу администрации.</td>
                                                  <td>Общие</td>
                                            </tr> 
                                            <tr>
                                                  <td>/password</td>
                                                  <td>Сменить пароль.</td>
                                                  <td>Общие</td>
                                            </tr>
                                            <tr>
                                                  <td>/myguest</td>
                                                  <td>Зайти в личный дом без открытия дверей.</td>
                                                  <td>Общие</td>
                                            </tr>
                                            <tr>
                                                  <td>/buybiz</td>
                                                  <td>Купить бизнес.</td>
                                                  <td>Общие</td>
                                            </tr>
                                            <tr>
                                                  <td>/sellbiz [id] [цена]</td>
                                                  <td>Продать бизнес игроку.</td>
                                                  <td>Общие</td>
                                            </tr>
                                            <tr>
                                                  <td>/time</td>
                                                  <td> Узнать срок наказания / КПЗ.</td>
                                                  <td>Общие</td>
                                            </tr>
                                            <tr>
                                                  <td>/dice [id] [сумма]</td>
                                                  <td>Предложить игру в кости.</td>
                                                  <td>Общие</td>
                                            </tr>
                                            <tr>
                                                  <td>/findtrailer</td>
                                                  <td> Отметить трейлер (Для работы дальнобойщика).</td>
                                                  <td>Общие</td>
                                            </tr>
                                            <tr>
                                                  <td>/q</td>
                                                  <td> Быстрое отключение от сервера.</td>
                                                  <td>Общие</td>
                                            </tr>
                                            <tr>
                                                  <td>Нажатие 'G'</td>
                                                  <td> Меню взаимодействий</td>
                                                  <td>Общие</td>
                                            </tr>
                                            <tr>
                                                  <td>Нажатие 'N'</td>
                                                  <td> Микрофон.</td>
                                                  <td>Общие</td>
                                            </tr>
                                            <tr>
                                                  <td>Нажатие 'I'</td>
                                                  <td>Открывает инвентарь и статистику персонажа.</td>
                                                  <td>Общие</td>
                                            </tr>
                                            <tr>
                                                  <td>Нажатие '↑'</td>
                                                  <td>Телефон.</td>
                                                  <td>Общие</td>
                                            </tr>
                                            <tr>
                                                  <td>Нажатие 'L'</td>
                                                  <td>Открыть / Закрыть авто.</td>
                                                  <td>Общие</td>
                                            </tr>
                                            <tr>
                                                  <td>Нажатие 'B'</td>
                                                  <td>Завести / Заглушить авто.</td>
                                                  <td>Общие</td>
                                            </tr>
                                            <tr>
                                                  <td>Нажатие 'U'</td>
                                                  <td> Список анимаций.</td>
                                                  <td>Общие</td>
                                            </tr>
                                            <tr>
                                                  <td>Нажатие '5'</td>
                                                  <td>Показать / Скрыть ID игроков.</td>
                                                  <td>Общие</td>
                                            </tr>
                                            <tr>
                                                  <td>Нажатие '6'</td>
                                                  <td>Круиз контроль авто.</td>
                                                  <td>Общие</td>
                                            </tr>
                                            <tr>
                                                  <td>Нажатие 'F4'</td>
                                                  <td>Панель управления транспортом (внутри).</td>
                                                  <td>Общие</td>
                                            </tr>
                                            <tr>
                                                  <td>Нажатие 'F10'</td>
                                                  <td>Главное меню.</td>
                                                  <td>Общие</td>
                                            </tr>
                                            <tr>
                                                  <td>Нажатие 'F5'</td>
                                                  <td>Вкл/Выкл интерфейс.</td>
                                                  <td>Общие</td>
                                            </tr>
                                            <tr>
                                                  <td>Нажатие 'F1'</td>
                                                  <td>Открыть меню Rage.</td>
                                                  <td>Общие</td>
                                            </tr>
                                            <tr>
                                                  <td>Нажатие 'T'</td>
                                                  <td>Открыть чат.</td>
                                                  <td>Чат</td>
                                            </tr>
                                            <tr>
                                                  <td>/b</td>
                                                  <td>ООС чат.</td>
                                                  <td>Чат</td>
                                            </tr>
                                            <tr>
                                                  <td>/me</td>
                                                  <td>Отыгровка действия от первого лица. Пример /me взял платок в руки и вытер пот с лица.</td>
                                                  <td>Чат</td>
                                            </tr>
                                            <tr>
                                                  <td>/do</td>
                                                  <td>Отыгровка от 3-го лица. Пример /do В заднем кармане штанов лежит платок.</td>
                                                  <td>Чат</td>
                                            </tr>
                                            <tr>
                                                  <td>/try</td>
                                                  <td>Отыгровка действия со случайным исходом. Пример /try обыскав человека напротив смог найти жучки в одежде.</td>
                                                  <td>Чат</td>
                                            </tr>
                                            <tr>
                                                  <td>/todo</td>
                                                  <td>Отыгровка слов + действий. Пример /todo Приятно познакомиться*вежливо протянув руку человеку напротив</td>
                                                  <td>Чат</td>
                                            </tr>
                                            <tr>
                                                  <td>/s</td>
                                                  <td>Кричать.</td>
                                                  <td>Чат</td>
                                            </tr>
                                            <tr>
                                                  <td>/f</td>
                                                  <td>Чат фракции.</td>
                                                  <td>Чат</td>
                                            </tr>
                                            <tr>
                                                  <td>/dep</td>
                                                  <td>Чат департамента. (Общий чат всех гос. фракций).</td>
                                                  <td>Чат</td>
                                            </tr>
                                            <tr>
                                                  <td>/gov</td>
                                                  <td>Гос. волна.</td>
                                                  <td>Чат</td>
                                            </tr>
                                            <tr>
                                                  <td>/m</td>
                                                  <td>Мегафон.</td>
                                                  <td>Чат | LSPD | FIB | Армия</td>
                                            </tr>
                                            <tr>
                                                  <td>/call</td>
                                                  <td>SMS.</td>
                                                  <td>Чат</td>
                                            </tr>
                                            <tr>
                                                  <td>/fontsize</td>
                                                  <td>Изменить размер шрифта чата.</td>
                                                  <td>Чат</td>
                                            </tr>
                                            <tr>
                                                  <td>/pagesize</td>
                                                  <td> Изменить кол-во строк чата.</td>
                                                  <td>Чат</td>
                                            </tr>
                                            <tr>
                                                  <td>/chatalpha</td>
                                                  <td>Переключить затухание чата.</td>
                                                  <td>Чат</td>
                                            </tr>
                                            <tr>
                                                  <td>/timestamp</td>
                                                  <td>Отображение времени в чате.</td>
                                                  <td>Чат</td>
                                            </tr>
                                            <tr>
                                                  <td>/buyfuel [кол-во]</td>
                                                  <td>Купить топливо на АЗС.</td>
                                                  <td>Автомеханик</td>
                                            </tr>
                                            <tr>
                                                  <td>/sellfuel [id] [кол-во] [цена за литр]</td>
                                                  <td>Продать топливо игроку.</td>
                                                  <td>Автомеханик</td>
                                            </tr>
                                            <tr>
                                                  <td>/ma</td>
                                                  <td>Принять вызов автомеханика.</td>
                                                  <td>Автомеханик</td>
                                            </tr>
                                            <tr>
                                                  <td>/repair [id] [цена]</td>
                                                  <td>Починить транспорт.</td>
                                                  <td>Автомеханик</td>
                                            </tr>
                                            <tr>
                                                  <td>/ta [id]</td>
                                                  <td>Принять вызов.</td>
                                                  <td>Такси</td>
                                            </tr>
                                            <tr>
                                                  <td>/tprice [id] [цена]</td>
                                                  <td>Предложить оплату.</td>
                                                  <td>Такси</td>
                                            </tr>
                                            <tr>
                                                  <td>/ctaxi</td>
                                                  <td>Отмена вызова.</td>
                                                  <td>Такси</td>
                                            </tr>
                                            <tr>
                                                  <td>/cmechanic</td>
                                                  <td>Отмена вызова.</td>
                                                  <td>Автомеханик</td>
                                            </tr>
                                            <tr>
                                                  <td>/orders</td>
                                                  <td>Список заказов.</td>
                                                  <td>Дальнобойщик</td>
                                            </tr>
                                            <tr>
                                                  <td>/t</td>
                                                  <td>Рация дальнобойщиков.</td>
                                                  <td>Дальнобойщик</td>
                                            </tr>
                                            <tr>
                                                  <td>/su [Номер паспорта] [Кол-во звезд] [Причина]</td>
                                                  <td>Выдать розыск игроку.</td>
                                                  <td>LSPD | FIB</td>
                                            </tr>
                                            <tr>
                                                  <td>/arrest [id]</td>
                                                  <td>Арестовать игрока. (Поместить в КПЗ)</td>
                                                  <td>LSPD | FIB</td>
                                            </tr>
                                            <tr>
                                                  <td>/rfp [id]</td>
                                                  <td>Выпустить игрока из КПЗ.</td>
                                                  <td>LSPD | FIB</td>
                                            </tr>
                                            <tr>
                                                  <td>/pd [id]</td>
                                                  <td>Принять вызов.</td>
                                                  <td>LSPD | FIB</td>
                                            </tr>
                                            <tr>
                                                  <td>/givegunlic [id] [Цена]</td>
                                                  <td>Выдать лицензию на оружие.</td>
                                                  <td>LSPD | FIB</td>
                                            </tr>
                                            <tr>
                                                  <td>/takegunlic [id] </td>
                                                  <td>Изъять лицензию на оружие.</td>
                                                  <td>LSPD | FIB</td>
                                            </tr>
                                            <tr>
                                                  <td>/pull [id]</td>
                                                  <td>Вытащить игрока из авто.</td>
                                                  <td>LSPD | FIB | Мафия | Армия | Правительство</td>
                                            </tr>
                                            <tr>
                                                  <td>/incar [id]</td>
                                                  <td>Посадить игрока в авто.</td>
                                                  <td>LSPD | FIB | Мафия | Армия | Правительство</td>
                                            </tr>
                                            <tr>
                                                  <td>/warg</td>
                                                  <td>Включить режим ЧП.</td>
                                                  <td>LSPD | FIB</td>
                                            </tr>
                                            <tr>
                                                  <td>/openstock /closestock </td>
                                                  <td>Открыть / Закрыть склад. </td>
                                                  <td>LSPD | FIB | EMS | Армия | Правительство | Банды | Мафия</td>
                                            </tr>
                                            <tr>
                                                  <td>Нажатие 'X'</td>
                                                  <td>Надеть наручники</td>
                                                  <td>LSPD | FIB | Армия | Правительство</td>
                                            </tr>
                                            <tr>
                                                  <td>Нажатие 'Z'</td>
                                                  <td>Вести игрока за собой.</td>
                                                  <td>LSPD | FIB | Армия | Правительство</td>
                                            </tr>
                                            <tr>
                                                  <td>Нажатие 'U'</td>
                                                  <td>[в рабочем авто] Открытие бортового компьютера.</td>
                                                  <td>LSPD | FIB</td>
                                            </tr>
                                            <tr>
                                                  <td>Нажатие 'G'</td>
                                                  <td>Взаимодействие с игроком. (Обыскать, проверить документы, etc)</td>
                                                  <td>LSPD | FIB</td>
                                            </tr>
                                            <tr>
                                                  <td>/heal [id] [цена]</td>
                                                  <td>Предложить оплату лечения.</td>
                                                  <td>EMS</td>
                                            </tr>
                                            <tr>
                                                  <td>/ems [id]</td>
                                                  <td>Принять вызов.</td>
                                                  <td>EMS</td>
                                            </tr>
                                            <tr>
                                                  <td>/givemedlic [id]</td>
                                                  <td>Выдать мед. карту.</td>
                                                  <td>EMS</td>
                                            </tr>
                                            <tr>
                                                  <td>/givepmlic [id] [цена]</td>
                                                  <td>Продать лицензию парамедика.</td>
                                                  <td>EMS</td>
                                            </tr>
                                            <tr>
                                                  <td>Нажатие 'F7'</td>
                                                  <td>Открыть редактирование объявлений</td>
                                                  <td>LSNEWS</td>
                                            </tr>
                                            <tr>
                                                  <td>/capture</td>
                                                  <td>Начать захват территории.</td>
                                                  <td>Банды</td>
                                            </tr>
                                            <tr>
                                                  <td>Нажатие 'G'</td>
                                                  <td>Взаимодействие с игроком. (Грабить, надеть стяжки/мешок)</td>
                                                  <td>Мафия | Банды</td>
                                            </tr>
                                            <tr>
                                                  <td>/bizwar</td>
                                                  <td>Начать захват бизнеса.</td>
                                                  <td>Мафия</td>
                                            </tr>
                                            <tr>
                                                  <td>/takebiz</td>
                                                  <td>Забрать бизнес под свой контроль.</td>
                                                  <td>Мафия</td>
                                            </tr>
                                            <tr>
                                                  <td>/respawn</td>
                                                  <td>Респавн всего транспорта фракции</td>
                                                  <td>Лидерские</td>
                                            </tr>
                                            <tr>
                                                  <td>/setrank [id] [rank]</td>
                                                  <td>Изменить ранг игроку</td>
                                                  <td>Лидерские</td>
                                            </tr>
                                            <tr>
                                                  <td>/invite [ID]</td>
                                                  <td>Принять игрока во фракцию</td>
                                                  <td>Лидерские</td>
                                            </tr>
                                            <tr>
                                                  <td>/uninvite [ID]</td>
                                                  <td>Уволить игрока из фракции</td>
                                                  <td>Лидерские</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                        <div v-if="submenuid == 2" style="width: 70%;" class="align-middle mx-auto px-auto">
                                            <div class="form-group">
                                                <textarea name="report" class="form-control" class="reprt" v-model="reportText" id="report" cols="30" rows="10" placeholder="Напишите ваше обращение к администрации"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <button class="btn btn-block btn-lg font-30 rbold py-4 btn-outline-success gilroy upper"  @click="btn('reportWorld',reportText);closeworldmenuMenu();hide()"> Отправить репорт</button>
                                            </div>
                                        </div>

                                </div>
                            </div>

                            <div class="row justify-content-center" v-if="menuid == 4">
                               
                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <script type="text/javascript">


      var table = $('#command').DataTable( {
       "pageLength": 500,
        autoWidth: true,
         fixedColumns: true,
        ajax: {
            url: 'helpcmd.json',
            dataType: 'json',
        },
        "scrollY": 200,
        "scrollX": false,
        "order": [[ 2, "asc" ]],
        "aoColumnDefs": [
          { 'bSortable': false, 'aTargets': [ 0,1,2 ] }
        ],
        columns: [
            { data: 'cmd' },
            { data: 'descr' },
            {
            
            mRender: function (data, type, row) {
            var html = '';
            var tr = row.category.split('|');
            html = html + '<div class="flx">';
            $.each(tr, function(num, value){
            
            value = $.trim(value);  
            if (badges[value]) {
                html = html + '<span class="bg '+badges[value].style+'">'+value+'</span>';
            } else {
                html = html + '<span class="bg">'+value+'</span>';
            }
            
            });
            html = html + '</div>';
            return html;
            }
            }
        ],
        language: {
            search: "_INPUT_",
            searchPlaceholder: "Поиск",
            zeroRecords: "Команда не найдена",
        }
        } );
function progressView(){
    let diagramBox = document.querySelectorAll('.diagram.progress');
    diagramBox.forEach((box) => {
        let deg = (360 * box.getAttribute('percent') <small>/ 100</small>) + 180;
        if(box.dataset.percent >= 50){
            box.classList.add('over_50');
        }else{
            box.classList.remove('over_50');
        }
        box.querySelector('.piece.right').style.transform = 'rotate('+deg+'deg)';
    });
}
progressView();
</script>
<script src="js/move.min.js"></script>
<script src='js/vue.js'></script>
<script src='js/worldmenu.js'></script>
  </body>
</html>